:root{

    --single-font:"Singlet",cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom,#79b0c0,#104977);
    --light-gray:rgba(255,255,255,0.5)
    /* --bggradient:linear-gradient(to bottom,#bb2476,#ff512f); */


}

body{
  background: #104977;
}
.section-form{
    font-family:var(--Lobster);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    border-radius: 20px;
  
    text-align: center;
    background-color: #b3b9be;
    padding: 20px;
    box-shadow: 5px 20px 20px 5px rgba(51, 49, 50,0.8);
}

.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color: #000000;
}
.header-content{
    box-shadow: 5px 20px 20px 5px rgba(51, 49, 50,0.8);
}

.header-content .brand{
   
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    position: relative;
}

.header-content span{
   font-family: var(--Lobster);
    position: absolute;
  right: -100px;

}